<div class="row table-controller">
    <div class="col-md" align="center">
        <div>

            <span style="font-weight: 700;">Market Status:</span>
            {% if market_status %}
            <span id="market-status" style="color:green">Open</span>
            {% else %}
            <span id="market-status" style="color: red">Closed</span>
            {% endif %}
        </div>
    </div>
    <div class="col-md" align="center">
        <div>
            <label for="mode">Choose data type:</label>
            <select name="mode" id="data-mode">
            <option value="realTime">Real Time</option>
            <option value="1mo">Historical - 1 Month</option>
            <option value="3mo">Historical - 3 Months</option>
            <option value="6mo">Historical - 6 Months</option>
            <option value="1y">Historical - 1 Year</option>
            <option value="max">Historical - Max</option>
            </select>
        </div>
    </div>
    <div class="col-md" align="center">
        <div>
            <label for="stocks">Choose stock:</label>
            <select name="stocks" id="stock-selection">
            <option value="none">Select a stock</option>
            {% for stock in to_add %}
            <option value="{{stock.ticker}}">{{stock.ticker}}</option>
            {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md" align="center">
        <a style="text-decoration: none;" id='update-link' href="">
        <button id="update-btn" class="btn btn-warning">Update</button>
        </a>
    </div>
</div>

<div class="row">
    <div class="col" align="center">
        <span id="update-error" style="display: none;">Real time data only available when market is open (M-F 9:30am-4pm EST excluding holidays), displaying most recent minute bar data.</span>
    </div>
</div>

<div class="row">
    <div class="col-md-8" align="center">
        <div id="chart"></div>
    </div>
    <div class="col-md-4" align="center">
        <div id='tweet-feed'></div>
        <iframe id="rufous-sandbox" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: none;" title="Twitter analytics iframe"></iframe>
    </div>
</div>

{% load static %}
<script type="text/javascript" src="{% static 'main/loadPage.js' %}"></script>
<script type="text/javascript" src="{% static 'stocks/plot.js' %}"></script>
<script type="text/javascript" src="{% static 'stocks/tweet.js' %}"></script>

