.table-controller{
    margin: 12px auto;
    background: linear-gradient(to right, #5050DB, #9651DB);
}

.table-controller div{
    margin: 8px auto;
    vertical-align: middle;
}

#update-error {
    color: red;
}

#chart {
    max-width: 1000px;
}