.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    margin: 20px auto 50px auto;
    max-width: 800px;
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
    z-index: 20;
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue
}

.error {
    position: absolute;
    left: 5px;
    top: 65px;
    color: red;
}

.table-list {
    margin: auto 1%;
    height: 300px;
    overflow: scroll;
    min-width: 600px;
    border-style: solid;
    border-width: 1px;
}

.table-header {
    margin: auto 1%;
    min-width: 600px;
    font-size: 1.5rem;
    font-weight: 600;
    border-style: solid;
    border-width: 1px;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    position: relative;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

ul li .row .col{
    margin: 10px auto;
}
/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
background: #ddd;
}

@media only screen and (max-width: 700px) {
    .form-control {
        font-size: 10px;
    }
}
