html {
    box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

html, body {
    height: 100%;
    margin: 0px;
    color: #d4d4d4;
    background: linear-gradient(to left top, #6C6C6C, #0C090A);
}

.title {
    padding-top: 40px;
}

.title img{
    max-width: 300px;     
}

.footer {
    padding: 5px 0px;
}

@media only screen and (max-width: 700px) {
    .banner {
        height: initial;
    }
}