html {
    box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

html, body {
    height: 100%;
    margin: 0px;
    color: #d4d4d4;
    background-color: #292929;
}

.title {
    padding-top: 40px;
}

.title img{
    max-width: 300px;     
}

/* .user-select-none.svg-container:first-child {
    background-color: burlywood;
} */

.footer {
    padding: 5px 0px;
}

@media only screen and (max-width: 700px) {
    .banner {
        height: initial;
    }
}