<div class="row" align="center">
    <form action="" method="POST" id="searchForm">
      {% csrf_token %}
        <div class="col-md-8">
            <div class="search"> 
                <i class="fa fa-search"></i> 
                <input id="autoComplete" type="text" name="searchBar" class="form-control" onkeyup="return enterVal(event)"> 
                <button type="submit" class="btn btn-primary">Add</button> 
                <span class="error" align="left">
                  {% if info.count == 10 %}
                    Due to API constraints, please add no more than 10 stocks
                  {% elif not info.validity %}
                    Apologies: this app is limited to companies in the S&P 500
                  {% endif %}
                </span>
              </div>
        </div>
    </form>
</div>

<div class="row table-header">
    <div class="col" align="center">Ticker</div>
    <div class="col" align="center">Price</div>
    <div class="col" align="center">Change</div>
    <div class="col" align="center">52-week Low</div>
    <div class="col" align="center">52-Week High</div>
    <div class="col" align="center"></div> <!--for delete button-->
</div>

<ul class="table-list" id="stockList">
    {% for item in to_add %}
        <li>
            <div class="row">
            <div class="col" align="center">{{item.query}}</div>
            <div class="col" align="center">$173.24</div>
            <div class="col" align="center">-1.56%</div>
            <div class="col" align="center">$182.68</div>
            <div class="col" align="center">$115.24</div>
            <div class="col" align="center">
                <a style="text-decoration: none;" href="delete/{{item.id}}">
                <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </div>
            </div>
        </li>
    {% endfor %}
</ul>  

{% include "listItems/autoComp.html" %} 